@model FarmHeroes.Web.ViewModels.ShopModels.ShopViewModel
@{
    ViewData["Title"] = "Armor Shop";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<img src="~/images/village/shop/shop.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
<div class="row">
    <a href="/Shop/Helmets" class="col-3 btn btn-outline-primary">Helmets</a>
    <a href="/Shop/Armor" class="col-3 btn btn-outline-primary disabled">Armor</a>
    <a href="/Shop/Weapons" class="col-3 btn btn-outline-primary">Weapons</a>
    <a href="/Shop/Shields" class="col-3 btn btn-outline-primary">Shields</a>
</div>
@foreach (var item in Model.Items)
{
    <div class="row mt-2">
        <img src="@item.ImageUrl" alt="weapon-1" class="img-fluid col-2 item-image">
        <div class="col-8 m-auto">
            <p><span class="text-uppercase">@item.Name</span> | Required level: @item.RequiredLevel</p>
            <p class="m-auto">
                Stats: @if (item.Attack > 0)
                {<span>@item.Attack <img src="~/images/icons/attack-icon.png" alt="attack" class="icon"></span>}
                @if (item.Defense > 0)
                {<span>@item.Defense <img src="~/images/icons/defense-icon.png" alt="defense" class="icon"></span>}
                @if (item.Mastery > 0)
                {<span>@item.Mastery <img src="~/images/icons/mastery-icon.png" alt="mastery" class="icon"></span>}
            </p>
            <p class="m-auto">Price: @item.Price <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></p>
        </div>
        <div class="col-2 m-auto text-center">
            <a href="/Shop/BuyArmor/@item.Id" class="btn btn-primary btn-block">Buy</a>
        </div>
    </div>
}

