@model  FarmHeroes.Web.ViewModels.StatisticsModels.StatisticsAllViewModel
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="row">
    <a class="col-4 btn btn-outline-primary nav-link" href="/Hero">Overview</a>
    <a class="col-4 btn btn-outline-primary nav-link" href="/Inventory">Inventory</a>
    <a class="col-4 btn btn-outline-primary nav-link disabled" href="/Statistics">Statistics</a>
</div>
<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Total fights</th>
            <td>@Model.TotalFights.ToString("N0")</td>
        </tr>
        <tr>
            <th>Total losses</th>
            <td>@Model.Losses.ToString("N0")</td>
        </tr>
        <tr>
            <th>Total wins</th>
            <td>@Model.Wins.ToString("N0")</td>
        </tr>
        <tr>
            <th>Maximal gold steal</th>
            <td>@Model.MaximalGoldSteal.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></td>
        </tr>
        <tr>
            <th>Total gold stolen</th>
            <td>@Model.TotalGoldStolen.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></td>
        </tr>
        <tr>
            <th>Total crystals stolen</th>
            <td>@Model.TotalCrystalsStolen.ToString("N0") <img src="~/images/icons/crystal-icon.png" alt="crystal" class="icon"></td>
        </tr>
        <tr>
            <th>Earned gold on the farm</th>
            <td>@Model.EarnedOnFarm.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></td>
        </tr>
        <tr>
            <th>Earned gold on patrol</th>
            <td>@Model.EarnedOnPatrol.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></td>
        </tr>
        <tr>
            <th>Earned crystals in the mines</th>
            <td>@Model.EarnedInMines.ToString("N0") <img src="~/images/icons/crystal-icon.png" alt="crystals" class="icon"></td>
        </tr>
        <tr>
            <th>Monsters defeated</th>
            <td>@Model.MonstersDefeated.ToString("N0")</td>
        </tr>
        <tr>
            <th>Earned gold from monsters</th>
            <td>@Model.EarnedFromMonsters.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></td>
        </tr>
    </tbody>
</table>

