@model FarmHeroes.Web.ViewModels.ShopModels.AmuletShopViewModel
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<img src="~/images/village/shop/shop.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
<div class="row">
    <span class="col-1"></span>
    <a href="/Village/Shop/Helmet" class="col-2 btn btn-outline-primary border-left-0 border-right-0 text-uppercase">Helmets</a>
    <a href="/Village/Shop/Armor" class="col-2 btn btn-outline-primary text-uppercase">Armor</a>
    <a href="/Village/Shop/Weapon" class="col-2 btn btn-outline-primary border-left-0 border-right-0 text-uppercase">Weapons</a>
    <a href="/Village/Shop/Shield" class="col-2 btn btn-outline-primary border-right-0 text-uppercase">Shields</a>
    <a href="/Village/Shop/Amulet" class="col-2 btn btn-outline-primary border-right-0 text-uppercase">Amulets</a>
    <span class="col-1"></span>
</div>
@foreach (var item in Model.Items)
{
    <div class="row mt-2 align-items-center">
        <div class="col-2">
            <img src="@item.ImageUrl" alt="amulet" class="img-fluid d-block m-auto item-image">
        </div>
        <div class="col-8 m-auto">
            <p><span class="text-uppercase">@item.Name</span> <small>| Initial chance: @item.InitialBonus% | Maximum chance: @(item.InitialBonus * 200)%</small></p>
            <p class="m-auto">@item.Description</p>
            <p class="m-auto">Price: @item.InitialPrice.ToString("N0") <img src="~/images/icons/crystal-icon.png" alt="crystal" class="icon"></p>
        </div>
        <div class="col-2 m-auto text-center">
            <a href="/Village/Shop/BuyAmulet/@item.Id" class="btn btn-primary btn-block text-uppercase">Buy</a>
        </div>
    </div>
}

