@model FarmHeroes.Web.ViewModels.ShopModels.ShopViewModel
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<img src="~/images/village/shop/shop.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
<div class="row">
    <span class="col-1"></span>
    <a class="col-2 btn btn-outline-primary border-left-0 border-right-0 text-uppercase" asp-area="Village" asp-controller="Shop" asp-action="Shop" asp-route-type="Helmet">Helmets</a>
    <a class="col-2 btn btn-outline-primary text-uppercase" asp-area="Village" asp-controller="Shop" asp-action="Shop" asp-route-type="Armor">Armor</a>
    <a class="col-2 btn btn-outline-primary border-left-0 border-right-0 text-uppercase" asp-area="Village" asp-controller="Shop" asp-action="Shop" asp-route-type="Weapon">Weapons</a>
    <a class="col-2 btn btn-outline-primary border-right-0 text-uppercase" asp-area="Village" asp-controller="Shop" asp-action="Shop" asp-route-type="Shield">Shields</a>
    <a class="col-2 btn btn-outline-primary border-right-0 text-uppercase" asp-area="Village" asp-controller="Shop" asp-action="Shop" asp-route-type="Amulet">Amulets</a>
    <span class="col-1"></span>
</div>
@foreach (var item in Model.Items)
{
    <div class="row mt-2 align-items-center">
        <div class="col-2">
            <img src="@item.ImageUrl" alt="equipment" class="img-fluid d-block m-auto item-image">
        </div>
        <div class="col-8 m-auto">
            <p><span class="text-uppercase">@SharedLocalizer.EquipmentLocalizer(item.Name)</span> | Required level: @item.RequiredLevel</p>
            <p class="m-auto">
                Stats: @if (item.Attack != 0)
                {<span>@item.Attack.ToString("N0") <img src="~/images/icons/attack-icon.png" alt="attack" class="icon"></span>}
                @if (item.Defense != 0)
                {<span>@item.Defense.ToString("N0") <img src="~/images/icons/defense-icon.png" alt="defense" class="icon"></span>}
                @if (item.Mastery != 0)
                {<span>@item.Mastery.ToString("N0") <img src="~/images/icons/mastery-icon.png" alt="mastery" class="icon"></span>}
            </p>
            <p class="m-auto">Price: @item.Price.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></p>
        </div>
        <div class="col-2 m-auto text-center">
            <a href="/Village/Shop/Buy/@item.Id" class="btn btn-primary btn-block text-uppercase">Buy</a>
        </div>
    </div>
}

