@model FarmHeroes.Web.ViewModels.ViewComponentsModels.SideMenuTimersViewComponentModel


<h4 class="text-uppercase">@Localizer["Timers-Title"]</h4>
<span>@Localizer["Current-Work"]:</span>
<li class="nav-item">
    <vc:timer dom-element-id="work_0" date-time="@Model.WorkUntil"></vc:timer>
</li>
<span>@Localizer["Until-Fight"]:</span>
<li class="nav-item">
    <vc:timer dom-element-id="attack_0" date-time="@Model.CannotAttackHeroUntil"></vc:timer>
</li>
<span>@Localizer["Defense-Duration"]:</span>
<li class="nav-item">
    <vc:timer dom-element-id="defense_0" date-time="@Model.CannotBeAttackedUntil"></vc:timer>
</li>
