@model FarmHeroes.Web.ViewModels.ViewComponentsModels.HeroResourcesViewComponentModel

<div class="col-6 d-inline">
    <div class="row mt-2">
        <div class="col-12 col-sm-6" data-toggle="tooltip" data-placement="bottom" title="@Localizer["Gold-Explanation"]">
            <div class="row">
                <div class="col-3 col-sm-4">
                    <img src="~/images/icons/gold-icon.png" alt="Gold" class="img-fluid img-rotate">
                </div>
                <div class="col-9 col-sm-8 text-left m-auto">
                    <h4 class="m-0 d-none d-sm-block">@Localizer["Gold-Title"]:</h4>
                    <span id="current-gold" class="align-middle">@Model.Gold.ToString("N0")</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6" data-toggle="tooltip" data-placement="bottom" title="@Localizer["Crystals-Explanation"]">
            <div class="row">
                <div class="col-3 col-sm-4">
                    <img src="~/images/icons/crystal-icon.png" alt="Crystal" class="img-fluid img-rotate">
                </div>
                <div class="col-9 col-sm-8 text-left m-auto">
                    <h4 class="m-0 d-none d-sm-block">@Localizer["Crystals-Title"]:</h4>
                    <span id="current-crystals" class="align-middle">@Model.Crystals.ToString("N0")</span>
                </div>
            </div>
        </div>
    </div>
</div>
