@using FarmHeroes.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/custom.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/animations.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/custom.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/animations.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand d-lg-block d-md-none" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="News">News</a>
                </li>
            </ul>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    @RenderBody()
    <hr class="bg-primary">
    <footer>
        <h6 class="font-weight-bold text-center">Created by <a href="https://softuni.bg/users/profile/show/peterarnaudov" target="_blank">PeterArnaudov</a>.</h6>
        <div class="text-center">
            <a href="https://www.instagram.com/peterxarnaudov/" target="_blank"><img src="~/images/community/instagram.png" alt="Instagram logo" class="m-2 logo"></a>
            <a href="https://www.facebook.com/PeterArnaudov99" target="_blank"><img src="~/images/community/facebook.png" alt="Facebook logo" class="m-2 logo"></a>
            <a href="https://www.linkedin.com/in/peter-arnaudov/" target="_blank"><img src="~/images/community/linkedin.png" alt="LinkedIn logo" class="m-2 logo"></a>
            <a href="https://github.com/PeterArnaudov/FarmHeroes" target="_blank"><img src="~/images/community/github.png" alt="Github logo" class="m-2 logo"></a>
        </div>
        <h6 class="font-weight-bold text-center">Created with educational purpose. Based on <a href="https://www.botva.ru">www.botva.ru</a>.</h6>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
