@model FarmHeroes.Web.ViewModels.HeroModels.HeroViewModel
@{
    ViewData["Title"] = "Hero";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="row">
    <div class="col-6 col-sm-8 m-auto">
        <h5 class="text-center m-2">@Model.Name</h5>
        <img src="@Model.AvatarUrl" class="row img-fluid m-auto">
        <p class="text-center m-auto"><img src="~/images/icons/level-icon.png" class="img-fluid icon"> @Model.LevelCurrentLevel</p>
        <div class="progress w-50 position-relative mt-1 mb-3 ml-auto mr-auto" data-toggle="tooltip" data-placement="bottom" title="@Model.LevelCurrentExperience.ToString("N0")/@Model.LevelNeededExperience.ToString("N0")">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.ExperiencePercent%"></div>
            <strong class="justify-content-center d-flex position-absolute w-100">
                @Model.ExperiencePercent%
            </strong>
        </div>
    </div>
</div>
<div class="row p-1">
    <div class="col-6 text-center">
        <strong class="text-uppercase">@Localizer["Characteristics-Title"]</strong>
        <div class="text-left">
            <img src="~/images/icons/attack-icon.png" class="icon">
            @Localizer["Characteristics-Attack"]: @Model.CharacteristicsAttack
        </div>
        <div class="text-left">
            <img src="~/images/icons/defense-icon.png" class="icon">
            @Localizer["Characteristics-Defense"]: @Model.CharacteristicsDefense
        </div>
        <div class="text-left">
            <img src="~/images/icons/mastery-icon.png" class="icon">
            @Localizer["Characteristics-Mastery"]: @Model.CharacteristicsMastery
        </div>
        <div class="text-left">
            <img src="~/images/icons/mass-icon.png" class="icon">
            @Localizer["Characteristics-Mass"]: @Model.CharacteristicsMass
        </div>
        <div class="text-left">
            <img src="~/images/icons/dexterity-icon.png" class="icon">
            @Localizer["Characteristics-Dexterity"]: @Model.CharacteristicsDexterity
        </div>
    </div>
    <div class="col-6 text-center">
        <strong class="text-uppercase">@Localizer["Statistics-Title"]</strong>
        <div class="text-left">
            <img src="~/images/icons/fights-icon.png" class="icon">
            @Localizer["Statistics-Fights"]: @Model.StatisticsTotalFights
        </div>
        <div class="text-left">
            <img src="~/images/icons/wins-icon.png" class="icon">
            @Localizer["Statistics-Wins"]: @Model.StatisticsWins
        </div>
    </div>
</div>