@model FarmHeroes.Web.ViewModels.HeroModels.HeroOverviewViewModel
@{
    ViewData["Title"] = "Hero";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

    <div class="row">
        <a class="col-4 btn btn-outline-primary border-left-0 border-right-0 nav-link disabled text-uppercase" href="/Hero">@Localizer["Overview-Tab-Title"]</a>
        <a class="col-4 btn btn-outline-primary nav-link text-uppercase" href="/Inventory">@Localizer["Inventory-Tab-Title"]</a>
        <a class="col-4 btn btn-outline-primary border-left-0 border-right-0 nav-link text-uppercase" href="/Statistics">@Localizer["Statistics-Tab-Title"]</a>
    </div>
<div class="row">
    <div class="col-3 col-sm-2 border-right border-primary m-auto">
        @if (Model.HasAmuletEquipped)
        {
            <div class="position-relative equipment-box m-2">
                <img src="@Model.EquippedSetAmulet.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="left" title="@Model.EquippedSetAmulet.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @Model.EquippedSetAmulet.Level (@Model.EquippedSetAmulet.Bonus%)<br><br>@Model.EquippedSetAmulet.Description">
            </div>
        }
        else
        {
            <img src="~/images/equipment/blank.png" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" />
        }
    </div>
    <div class="col-6 col-sm-8">
        <h5 class="text-center m-2">@Model.Name</h5>
        <img src="@Model.AvatarUrl" class="row img-fluid m-auto">
        <p class="text-center m-auto"><img src="~/images/icons/level-icon.png" class="img-fluid icon"> @Model.LevelCurrentLevel</p>
        <div class="progress w-50 position-relative mt-1 mb-3 ml-auto mr-auto" data-toggle="tooltip" data-placement="bottom" title="@Model.LevelCurrentExperience.ToString("N0")/@Model.LevelNeededExperience.ToString("N0")">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.ExperiencePercent%"></div>
            <strong class="justify-content-center d-flex position-absolute w-100">
                @Model.ExperiencePercent%
            </strong>
        </div>
    </div>
    <div class="col-3 col-sm-2 border-left border-primary m-auto">
        <partial name="_EquipmentViewModelPartiallView" model="Model.EquippedSetHelmet" />
        <partial name="_EquipmentViewModelPartiallView" model="Model.EquippedSetArmor" />
        <partial name="_EquipmentViewModelPartiallView" model="Model.EquippedSetWeapon" />
        <partial name="_EquipmentViewModelPartiallView" model="Model.EquippedSetShield" />
    </div>
</div>
<div class="row p-1">
    <div class="col-6 text-center">
        <strong class="text-uppercase">@Localizer["Characteristics-Title"]</strong>
        <div class="text-left">
            <img src="~/images/icons/attack-icon.png" class="icon">
            @Localizer["Characteristics-Attack"]: @Model.CharacteristicsAttack
        </div>
        <div class="text-left">
            <img src="~/images/icons/defense-icon.png" class="icon">
            @Localizer["Characteristics-Defense"]: @Model.CharacteristicsDefense
        </div>
        <div class="text-left">
            <img src="~/images/icons/mastery-icon.png" class="icon">
            @Localizer["Characteristics-Mastery"]: @Model.CharacteristicsMastery
        </div>
        <div class="text-left">
            <img src="~/images/icons/mass-icon.png" class="icon">
            @Localizer["Characteristics-Mass"]: @Model.CharacteristicsMass
        </div>
        <div class="text-left">
            <img src="~/images/icons/dexterity-icon.png" class="icon">
            @Localizer["Characteristics-Dexterity"]: @Model.CharacteristicsDexterity
        </div>
    </div>
    <div class="col-6 text-center">
        <strong class="text-uppercase">@Localizer["Statistics-Title"]</strong>
        <div class="text-left">
            <img src="~/images/icons/fights-icon.png" class="icon">
            @Localizer["Statistics-Fights"]: @Model.StatisticsTotalFights
        </div>
        <div class="text-left">
            <img src="~/images/icons/wins-icon.png" class="icon">
            @Localizer["Statistics-Wins"]: @Model.StatisticsWins
        </div>
    </div>
</div>