@model FarmHeroes.Web.ViewModels.HeroModels.HeroOverviewViewModel
@{
    ViewData["Title"] = "Hero";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

    <div class="row">
        <a class="col-4 btn btn-outline-primary border-left-0 border-right-0 nav-link disabled" href="/Hero/Overview">Overview</a>
        <a class="col-4 btn btn-outline-primary nav-link" href="/Inventory">Inventory</a>
        <a class="col-4 btn btn-outline-primary border-left-0 border-right-0 nav-link" href="/Statistics">Statistics</a>
    </div>
<div class="row">
    <div class="col-2 border-right border-primary m-auto">
        @if (Model.EquippedSetAmulet != null)
        {
            <div class="position-relative equipment-box m-2">
                <img src="@Model.EquippedSetAmulet.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="left" title="@Model.EquippedSetAmulet.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @Model.EquippedSetAmulet.Level (@Model.EquippedSetAmulet.Bonus%)<br><br>@Model.EquippedSetAmulet.Description">
            </div>
        }
        else
        {
            <img src="/images/equipment/amulets/no-amulet.png" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" />
        }
    </div>
    <div class="col-8">
        <h5 class="text-center m-2">@Model.Name</h5>
        <img src="@Model.AvatarUrl" class="row img-fluid m-auto">
        <p class="text-center m-auto"><img src="~/images/icons/level-icon.png" class="img-fluid icon"> @Model.Level</p>
        <div class="progress w-50 position-relative mt-1 mb-3 ml-auto mr-auto" data-toggle="tooltip" data-placement="bottom" title="@Model.CurrentExperience.ToString("N0")/@Model.NeededExperience.ToString("N0")">
            <div class="progress-bar bg-info" role="progressbar" style="width: @Model.ExperiencePercent%"></div>
            <strong class="justify-content-center d-flex position-absolute w-100">
                @Model.ExperiencePercent%
            </strong>
        </div>
    </div>
    <div class="col-2 border-left border-primary m-auto">
        @if (Model.EquippedSetHelmet != null)
        {
            <div class="position-relative equipment-box m-2">
                <img src="@Model.EquippedSetHelmet.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="left" title="@Model.EquippedSetHelmet.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @Model.EquippedSetHelmet.Level @if (Model.EquippedSetHelmet.Attack > 0) {<br><span><img src='/images/icons/attack-icon.png' class='icon'>: @Model.EquippedSetHelmet.Attack</span>}@if (Model.EquippedSetHelmet.Defense > 0) {<br><span><img src='/images/icons/defense-icon.png' class='icon'>: @Model.EquippedSetHelmet.Defense</span>}@if (Model.EquippedSetHelmet.Mastery > 0) {<br><span><img src='/images/icons/mastery-icon.png' class='icon'>: @Model.EquippedSetHelmet.Mastery</span>}">
            </div>
        }
        else
        {
            <img src="/images/equipment/helmets/no-helmet.png" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" />
        }
        @if (Model.EquippedSetArmor != null)
        {
            <div class="position-relative equipment-box m-2">
                <img src="@Model.EquippedSetArmor.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="left" title="@Model.EquippedSetArmor.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @Model.EquippedSetArmor.Level @if (Model.EquippedSetArmor.Attack > 0) {<br><span><img src='/images/icons/attack-icon.png' class='icon'>: @Model.EquippedSetArmor.Attack</span>}@if (Model.EquippedSetArmor.Defense > 0) {<br><span><img src='/images/icons/defense-icon.png' class='icon'>: @Model.EquippedSetArmor.Defense</span>}@if (Model.EquippedSetArmor.Mastery > 0) {<br><span><img src='/images/icons/mastery-icon.png' class='icon'>: @Model.EquippedSetArmor.Mastery</span>}">
            </div>
        }
        else
        {
            <img src="/images/equipment/armors/no-armor.png" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" />
        }
        @if (Model.EquippedSetWeapon != null)
        {
            <div class="position-relative equipment-box m-2">
                <img src="@Model.EquippedSetWeapon.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="left" title="@Model.EquippedSetWeapon.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @Model.EquippedSetWeapon.Level @if (Model.EquippedSetWeapon.Attack > 0) {<br><span><img src='/images/icons/attack-icon.png' class='icon'>: @Model.EquippedSetWeapon.Attack</span>}@if (Model.EquippedSetWeapon.Defense > 0) {<br><span><img src='/images/icons/defense-icon.png' class='icon'>: @Model.EquippedSetWeapon.Defense</span>}@if (Model.EquippedSetWeapon.Mastery > 0) {<br><span><img src='/images/icons/mastery-icon.png' class='icon'>: @Model.EquippedSetWeapon.Mastery</span>}">
            </div>
        }
        else
        {
            <img src="/images/equipment/weapons/no-weapon.png" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" />
        }
        @if (Model.EquippedSetShield != null)
        {
            <div class="position-relative equipment-box m-2">
                <img src="@Model.EquippedSetShield.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="left" title="@Model.EquippedSetShield.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @Model.EquippedSetShield.Level @if (Model.EquippedSetShield.Attack > 0) {<br><span><img src='/images/icons/attack-icon.png' class='icon'>: @Model.EquippedSetShield.Attack</span>}@if (Model.EquippedSetShield.Defense > 0) {<br><span><img src='/images/icons/defense-icon.png' class='icon'>: @Model.EquippedSetShield.Defense</span>}@if (Model.EquippedSetShield.Mastery > 0) {<br><span><img src='/images/icons/mastery-icon.png' class='icon'>: @Model.EquippedSetShield.Mastery</span>}">
            </div>
        }
        else
        {
            <img src="/images/equipment/shields/no-shield.png" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" />
        }
    </div>
</div>
<div class="row p-1">
    <div class="col-6 text-center">
        <strong class="text-uppercase">characteristics</strong>
        <div class="text-left">
            <img src="~/images/icons/attack-icon.png" class="icon">
            Attack: @Model.Attack
        </div>
        <div class="text-left">
            <img src="~/images/icons/defense-icon.png" class="icon">
            Defense: @Model.Defense
        </div>
        <div class="text-left">
            <img src="~/images/icons/mastery-icon.png" class="icon">
            Mastery: @Model.Mastery
        </div>
        <div class="text-left">
            <img src="~/images/icons/mass-icon.png" class="icon">
            Mass: @Model.Mass
        </div>
    </div>
    <div class="col-6 text-center">
        <strong class="text-uppercase">statistics</strong>
        <div class="text-left">
            <img src="~/images/icons/fights-icon.png" class="icon">
            Fights: @Model.Fights
        </div>
        <div class="text-left">
            <img src="~/images/icons/wins-icon.png" class="icon">
            Wins: @Model.Wins
        </div>
    </div>
</div>