@model FarmHeroes.Web.ViewModels.InventoryModels.InventoryViewModel
@{
    ViewData["Title"] = "Inventory";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="row">
    <a class="col-4 btn btn-outline-primary nav-link" href="/Hero">Overview</a>
    <a class="col-4 btn btn-outline-primary nav-link disabled" href="/Inventory">Inventory</a>
    <a class="col-4 btn btn-outline-primary nav-link" href="/Statistics">Statistics</a>
</div>
<div class="row mt-1">
    <p class="col-6 text-center">Capacity: @Model.Items.Count/@Model.MaximumCapacity</p>
    @if (Model.MaximumCapacity < 20)
    {
        <p class="col-6 text-center">+1 capacity: @Model.UpgradeCost.ToString("N0") <img src="~/images/icons/crystal-icon.png" class="icon" alt="crystals"> <a href="/Inventory/Upgrade" class="btn btn-success text-uppercase">upgrade</a></p>
    }
    else
    {
        <p class="col-6 text-center">You've reached maximum capacity.</p>
    }
</div>
<div class="row ml-1 mr-1">
    @if (Model.Items.Count > 0)
    {
        foreach (var item in Model.Items)
        {
            <div class="position-relative equipment-box m-2" onclick="showActions(this)">
                <img src="@item.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="top" title="@item.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @item.Level@if (item.Attack > 0) {<br><span><img src='/images/icons/attack-icon.png' class='icon'>: @item.Attack.ToString("N0")</span>}@if (item.Defense > 0) {<br><span><img src='/images/icons/defense-icon.png' class='icon'>: @item.Defense.ToString("N0")</span>}@if (item.Mastery > 0) {<br><span><img src='/images/icons/mastery-icon.png' class='icon'>: @item.Mastery.ToString("N0")</span>}@if (item.Dexterity > 0) {<br><span><img src='/images/icons/dexterity-icon.png' class='icon'>: @item.Dexterity.ToString("N0")</span>}">
                <div class="d-none">
                    <a href="/Inventory/Equip/@item.Id" class="btn btn-sm btn-primary badge-pill d-block mb-1">Equip</a>
                    <a href="/Inventory/Trash/@item.Id" class="btn btn-sm btn-danger badge-pill d-block">Trash</a>
                </div>
            </div>
        }
    }
    else
    {
        <p class="m-auto">You have no equipment in your inventory.</p>
    }
</div>

<div class="row ml-1 mr-1">
    @if (Model.Amulets.Count > 0)
    {
        <hr class="bg-primary col-11" />
        @foreach (var item in Model.Amulets)
        {
            <div class="position-relative equipment-box m-2" onclick="showActions(this)">
                <img src="@item.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="top" title="@item.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @item.Level (@item.Bonus%)<br><br>@item.Description">
                <div class="d-none">
                    <a class="btn btn-sm btn-primary badge-pill d-block mb-1" onclick="equipAmulet('@item.Id')">Equip</a>
                    <a href="/Inventory/Trash/@item.Id" class="btn btn-sm btn-danger badge-pill d-block">Trash</a>
                </div>
            </div>
        }
    }
</div>

<div class="row ml-1 mr-1">
    @if (Model.Bonuses.Count > 0)
    {
        <hr class="bg-primary col-11" />
        @foreach (var item in Model.Bonuses.Where(x => x.ActiveUntil > DateTime.UtcNow))
        {
            <div class="position-relative equipment-box m-2">
                <img src="@item.ImageUrl" alt="item" class="img-fluid d-block mr-auto ml-auto mb-1 item-image" data-toggle="tooltip" data-placement="top" title="@item.Name<br><img src='/images/icons/level-icon.png' class='icon'>: @item.Level (@(item.Bonus * 100)%)<br>Time left: @(item.ActiveUntil == DateTime.MaxValue ? "Permanent" : $"{(item.ActiveUntil - DateTime.UtcNow).Days} days {(item.ActiveUntil - DateTime.UtcNow).Hours} hours")<br><br>@item.Description">
            </div>
        }
    }
</div>
