@model FarmHeroes.Web.ViewModels.SmithModels.SmithViewModel
@{
    ViewData["Title"] = "Smith";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div>
    <img src="~/images/village/smith/smith.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
    <img src="~/images/icons/info-icon.png" alt="info" class="img-fluid ml-2 mt-2 info-icon" data-toggle="tooltip" data-placement="bottom" title="Upgrading equipment increases the characteristics you receive from all equipped items by percent equal to their level.<br><br>Helmets give extra mastery.<br>Armor gives extra dexterity.<br>Weapons give extra attack.<br>Shields give extra defense.">
</div>

@foreach (var item in Model.UpgradeableItems)
{
    <div class="row align-items-center mt-2">
        <div class="col-2">
            <img src="@item.ImageUrl" alt="equipment" class="img-fluid d-block m-auto item-image">
        </div>
        <div class="col-8 m-auto">
            <p><span class="text-uppercase">@SharedLocalizer.EquipmentLocalizer(item.Name)</span> | Level: @item.Level/25</p>
            <p class="m-auto">
                Stats: @if (item.Attack != 0)
                {<span>@item.Attack.ToString("N0") <img src="~/images/icons/attack-icon.png" alt="attack" class="icon"></span>}
                @if (item.Defense != 0)
                {<span>@item.Defense.ToString("N0") <img src="~/images/icons/defense-icon.png" alt="defense" class="icon"></span>}
                @if (item.Mastery != 0)
                {<span>@item.Mastery.ToString("N0") <img src="~/images/icons/mastery-icon.png" alt="mastery" class="icon"></span>}
            </p>
            <p class="m-auto">Upgrade cost: @item.UpgradeCost.ToString("N0") <img src="~/images/icons/crystal-icon.png" alt="crystal" class="icon"></p>
        </div>
        <div class="col-2 m-auto text-center">
            <a href="/Village/Smith/Upgrade/@item.Id" class="btn btn-primary btn-block text-uppercase">Upgrade</a>
        </div>
    </div>
}
@if (Model.Amulets.Length > 0)
{
    <hr class="bg-primary" />
    @foreach (var item in Model.UpgradeableAmulets)
    {
        <div class="row align-items-center mt-2">
            <div class="col-2">
                <img src="@item.ImageUrl" alt="amulet" class="img-fluid d-block m-auto item-image">
            </div>
            <div class="col-8 m-auto">
                <p><span class="text-uppercase">@SharedLocalizer.AmuletLocalizer(item.Name)</span> <small>| Current chance: @item.Bonus% | Next level: @(item.Bonus + (item.Level == 99 ? item.InitialBonus * 101 : item.InitialBonus))%</small></p>
                <p class="m-auto">@SharedLocalizer.AmuletLocalizer(item.Name + "-Description")</p>
                <p class="m-auto">Upgrade cost: @item.UpgradeCost.ToString("N0") <img src="~/images/icons/crystal-icon.png" alt="crystal" class="icon"></p>
            </div>
            <div class="col-2 m-auto text-center">
                <a href="/Village/Smith/UpgradeAmulet/@item.Id" class="btn btn-primary btn-block text-uppercase">Upgrade</a>
            </div>
        </div>
    }
}

