@model FarmHeroes.Web.ViewModels.FarmModels.FarmViewModel
@{
    ViewData["Title"] = "Farm";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="text-center">
    <img src="~/images/village/farm/farm.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
    <div id="work-body">
        @if (!Model.DoesWork)
        {
            <p>@Localizer["Current-Salary-Paragraph"] @Model.Salary.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="icon">.</p>
            <p>@Localizer["Work-Duration-Paragraph"]</p>
            <button onclick="startWork()" class="btn btn-primary text-uppercase">@Localizer["Work-Button-Text"]</button>
        }
        else
        {
            if (Model.IsWorkFinished)
            {
                <p class="text-success">@Localizer["Work-Finished-Paragraph"]</p>
                <button class="btn btn-success text-uppercase" onclick="collect()">@Localizer["Collect-Button-Text"]</button>
            }
            else
            {
                <p class="mb-1">@Localizer["Work-Time-Left-Paragraph"]</p>
                <vc:timer dom-element-id="work_1" date-time="@Model.ChronometerWorkUntil"></vc:timer>
                <p class="text-danger">@Localizer["Cancel-Work-Paragraph"]</p>
                <button class="btn btn-danger text-uppercase" onclick="cancelWork()">@Localizer["Cancel-Button-Text"]</button>
            }
        }
    </div>
</div>

<script src="~/js/ajax-calls/farm.js" asp-append-version="true"></script>