@model string
@{
    ViewData["Title"] = "Modify Hero";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<a class="btn btn-block btn-primary mt-3 text-uppercase" asp-area="Administration" asp-controller="PlayerControl" asp-action="ModifyBasicInfo" asp-route-name="@Model">Basic Info</a>
<a class="btn btn-block btn-primary mt-3 text-uppercase" asp-area="Administration" asp-controller="PlayerControl" asp-action="ModifyLevel" asp-route-name="@Model">Level</a>
<a class="btn btn-block btn-primary mt-3 text-uppercase" asp-area="Administration" asp-controller="PlayerControl" asp-action="ModifyHealth" asp-route-name="@Model">Health</a>
<a class="btn btn-block btn-primary mt-3 text-uppercase" asp-area="Administration" asp-controller="PlayerControl" asp-action="ModifyResourcePouch" asp-route-name="@Model">Resources</a>
<a class="btn btn-block btn-primary mt-3 text-uppercase" asp-area="Administration" asp-controller="PlayerControl" asp-action="ModifyCharacteristics" asp-route-name="@Model">Characteristics</a>
<a class="btn btn-block btn-primary mt-3 text-uppercase" asp-area="Administration" asp-controller="PlayerControl" asp-action="ModifyChronometer" asp-route-name="@Model">Timers</a>

<a class="btn btn-primary mt-3 text-uppercase" asp-area="Administration" asp-controller="PlayerControl" asp-action="FindHero">Go Back</a>
