@model FarmHeroes.Web.ViewModels.MineModels.MineViewModel
@{
    ViewData["Title"] = "Mine";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="text-center">
    <img src="~/images/village/mine/mine.jpg" alt="village-image" class="d-block img-fluid ml-auto mr-auto mb-3">
    <div id="work-body">
        @if (!Model.DoesWork)
        {
            <p>@Localizer["Work-Duration-Paragraph"]</p>
            <button onclick="startWork()" class="btn btn-primary text-uppercase">@Localizer["Work-Button-Text"]</button>
        }
        else
        {
            if (Model.IsWorkFinished)
            {
                <p class="text-success">@Localizer["Finished-Work"]</p>
                <button class="btn btn-success text-uppercase" onclick="collect()">@Localizer["Collect-Button-Text"]</button>
            }
            else
            {
                <p>@Localizer["Work-Time-Left-Paragraph"]</p>
                <vc:timer dom-element-id="work_1" date-time="@Model.ChronometerWorkUntil"></vc:timer>
                <p class="text-danger">@Localizer["Cancel-Work-Paragraph"]</p>
                <button class="btn btn-danger text-uppercase" onclick="cancelWork()">@Localizer["Cancel-Button-Text"]</button>
            }
        }
    </div>
</div>

<script src="~/js/ajax-calls/mine.js" asp-append-version="true"></script>