@model FarmHeroes.Web.ViewModels.ViewComponentsModels.HeroHealthViewComponentModel

<div class="col-3 d-inline">
    <div class="text-left m-auto">
        <img src="~/images/icons/health-icon.png" alt="Health" class="col-8 col-sm-6 col-md-4 pb-2 d-lg-inline d-inline m-auto img-rotate">
        <h4 class="d-lg-inline-block d-none text-center pb-2">@Localizer["Health-Title"]:</h4>
        <img src="~/images/icons/heal-icon.png" alt="heal" class="img-fluid mt-lg-2 mt-0 mr-2 heal-icon clickable" data-toggle="modal" data-target="#heal-modal">
        <div class="modal fade mt-5" id="heal-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-shadow" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-uppercase">@Localizer["Heal-Modal-Title"]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row align-items-center mb-2">
                            <div class="col-3">
                                <img src="~/images/health/pill.png" alt="pill" class="img-fluid">
                            </div>
                            <div class="col-5">
                                <h4 class="text-uppercase">@Localizer["Pill-Title"]</h4>
                                <h5>@Localizer["Health-Title"]: +200</h5>
                                <h5>@Localizer["Price"]: 100 <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></h5>
                            </div>
                            <button onclick="heal('Pill')" class="btn btn-success btn-sm col-3 h-100 m-auto text-uppercase">@Localizer["Heal-Button-Text"]</button>
                        </div>
                        <hr class="bg-primary w-75">
                        <div class="row align-items-center mb-2">
                            <div class="col-3">
                                <img src="~/images/health/elixir.png" alt="elixir" class="img-fluid">
                            </div>
                            <div class="col-5">
                                <h4 class="text-uppercase">@Localizer["Elixir-Title"]</h4>
                                <h5>@Localizer["Health-Title"]: +3000</h5>
                                <h5>@Localizer["Price"]: 1000 <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></h5>
                            </div>
                            <button onclick="heal('Elixir')" class="btn btn-success btn-sm col-3 h-100 m-auto text-uppercase">@Localizer["Heal-Button-Text"]</button>
                        </div>
                        <hr class="bg-primary w-75">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="~/images/health/potion.png" alt="potion" class="img-fluid">
                            </div>
                            <div class="col-5">
                                <h4 class="text-uppercase">@Localizer["Potion-Title"]</h4>
                                <h5>@Localizer["Health-Title"]: +100%</h5>
                                <h5>@Localizer["Price"]: 15 <img src="~/images/icons/crystal-icon.png" alt="crystal" class="icon"></h5>
                            </div>
                            <button onclick="heal('Potion')" class="btn btn-success btn-sm col-3 h-100 m-auto text-uppercase">@Localizer["Heal-Button-Text"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="health-status" class="progress w-100 m-auto position-relative" data-toggle="tooltip" data-placement="bottom" title="@Model.Current.ToString("N0")/@Model.Maximum.ToString("N0")">
            <div class="progress-bar bg-success" role="progressbar" style="width: @Model.Percent%">
                <strong class="justify-content-center d-flex position-absolute w-100">@Model.Percent%</strong>
            </div>
        </div>
    </div>
</div>

