@model FarmHeroes.Web.ViewModels.FightModels.FightLogViewModel
@{
    ViewData["Title"] = "FightLog";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="row m-auto">
    <div class="col-6">
        <a href="/Hero/@Model.AttackerId" class="h3 d-block text-center text-white">@Model.AttackerName (@Model.AttackerLevel)</a>
        <img src="@Model.AttackerAvatarUrl" alt="avatar" class="img-fluid d-block m-auto">
        <div class="text-left">
            <h5 class="text-center text-uppercase">Characteristics</h5>
            <p class="m-auto"><img src="~/images/icons/attack-icon.png" class="icon"> @Model.AttackerAttack.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/defense-icon.png" class="icon"> @Model.AttackerDefense.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/mastery-icon.png" class="icon"> @Model.AttackerMastery.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/mass-icon.png" class="icon"> @Model.AttackerMass.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/dexterity-icon.png" class="icon"> @Model.AttackerDexterity.ToString("N0")</p>
        </div>
    </div>
    <div class="col-6">
        @if (Model.IsDefenderMonster)
        {
            <h3 class="d-block text-center text-white">@Model.DefenderName (@Model.DefenderLevel)</h3>
        }
        else
        {
            <a href="/Hero/@Model.DefenderId" class="h3 d-block text-center text-white">@Model.DefenderName (@Model.DefenderLevel)</a>
        }
        <img src="@Model.DefenderAvatarUrl" alt="avatar" class="img-fluid d-block m-auto">
        <div class="text-left">
            <h5 class="text-center text-uppercase">Characteristics</h5>
            <p class="m-auto"><img src="~/images/icons/attack-icon.png" class="icon"> @Model.DefenderAttack.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/defense-icon.png" class="icon"> @Model.DefenderDefense.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/mastery-icon.png" class="icon"> @Model.DefenderMastery.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/mass-icon.png" class="icon"> @Model.DefenderMass.ToString("N0")</p>
            <p class="m-auto"><img src="~/images/icons/dexterity-icon.png" class="icon"> @Model.DefenderDexterity.ToString("N0")</p>
        </div>
    </div>
</div>
<hr class="bg-primary">
<div class="row mt-4 ml-auto mr-auto">
    <h5 class="m-auto text-uppercase">Fight summary</h5>
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Damage dealt</th>
                <th scope="col">Health left</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.AttackerName</th>
                <td>@Model.AttackerDamageDealt.ToString("N0")</td>
                <td>@Model.AttackerHealthLeft.ToString("N0")</td>
            </tr>
            <tr>
                <th scope="row">@Model.DefenderName</th>
                <td>@Model.DefenderDamageDealt.ToString("N0")</td>
                <td>@Model.DefenderHealthLeft.ToString("N0")</td>
            </tr>
        </tbody>
    </table>
    <p class="m-auto"><strong>@Model.WinnerName</strong> won and received @Model.GoldStolen.ToString("N0") <img src="~/images/icons/gold-icon.png" alt="gold" class="img-fluid icon img-jump"> @Model.ExperienceGained.ToString("N0") <img src="~/images/icons/experience-icon.png" alt="experience" class="img-fluid icon img-jump"></p>
</div>
<hr class="bg-primary">
<div class="row m-auto">
    <div class="col-12">
        <h5 class="text-center text-uppercase">Fight log</h5>
        @if (Model.AttackerHitOne.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-@Model.AttackerHitOneType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.AttackerHitOne?.ToString("N0")] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitOne.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-@Model.DefenderHitOneType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.DefenderHitOne?.ToString("N0")] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitTwo.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-@Model.AttackerHitTwoType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.AttackerHitTwo?.ToString("N0")] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitTwo.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-@Model.DefenderHitTwoType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.DefenderHitTwo?.ToString("N0")] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitThree.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-@Model.AttackerHitThreeType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.AttackerHitThree?.ToString("N0")] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitThree.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-@Model.DefenderHitThreeType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.DefenderHitThree?.ToString("N0")] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitFour.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-@Model.AttackerHitFourType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.AttackerHitFour?.ToString("N0")] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitFour.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-@Model.DefenderHitFourType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.DefenderHitFour?.ToString("N0")] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitFive.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-@Model.AttackerHitFiveType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.AttackerHitFive?.ToString("N0")] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitFive.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-@Model.DefenderHitFiveType-hit-icon.png" alt="attack" class="m-1 fight-log-icon img-shake"> [@Model.DefenderHitFive?.ToString("N0")] @Model.AttackerName
            </div>
        }
    </div>
</div>