@model FarmHeroes.Web.ViewModels.FightModels.FightLogViewModel
@{
    ViewData["Title"] = "FightLog";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="row m-auto">
    <div class="col-6">
        <a href="/Hero/@Model.AttackerId" class="h3 d-block text-center text-white">@Model.AttackerName</a>
        <img src="~/images/avatars/sheep.jpg" alt="avatar" class="img-fluid d-block m-auto">
        <div class="text-left">
            <h5 class="text-center text-uppercase">Characteristics</h5>
            <p class="m-auto"><img src="~/images/icons/attack-icon.png" class="icon"> @Model.AttackerAttack</p>
            <p class="m-auto"><img src="~/images/icons/defense-icon.png" class="icon"> @Model.AttackerDefense</p>
            <p class="m-auto"><img src="~/images/icons/mastery-icon.png" class="icon"> @Model.AttackerMastery</p>
            <p class="m-auto"><img src="~/images/icons/mass-icon.png" class="icon"> @Model.AttackerMass</p>
        </div>
    </div>
    <div class="col-6">
        @if (Model.DefenderId == 0)
        {
            <h3 class="d-block text-center text-white">@Model.DefenderName</h3>
        }
        else
        {
            <a href="/Hero/@Model.DefenderId" class="h3 d-block text-center text-white">@Model.DefenderName</a>
        }
        <img src="~/images/avatars/sheep.jpg" alt="avatar" class="img-fluid d-block m-auto">
        <div class="text-left">
            <h5 class="text-center text-uppercase">Characteristics</h5>
            <p class="m-auto"><img src="~/images/icons/attack-icon.png" class="icon"> @Model.DefenderAttack</p>
            <p class="m-auto"><img src="~/images/icons/defense-icon.png" class="icon"> @Model.DefenderDefense</p>
            <p class="m-auto"><img src="~/images/icons/mastery-icon.png" class="icon"> @Model.DefenderMastery</p>
            <p class="m-auto"><img src="~/images/icons/mass-icon.png" class="icon"> @Model.DefenderMass</p>
        </div>
    </div>
</div>
<hr class="bg-primary">
<div class="row mt-4 ml-auto mr-auto">
    <h5 class="m-auto text-uppercase">Fight summary</h5>
    <table class="table mt-2">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Damage dealt</th>
                <th scope="col">Health left</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.AttackerName</th>
                <td>@Model.AttackerDamageDealt</td>
                <td>@Model.AttackerHealthLeft</td>
            </tr>
            <tr>
                <th scope="row">@Model.DefenderName</th>
                <td>@Model.DefenderDamageDealt</td>
                <td>@Model.DefenderHealthLeft</td>
            </tr>
        </tbody>
    </table>
    <p class="m-auto"><strong>@Model.WinnerName</strong> won and received @Model.GoldStolen <img src="~/images/icons/gold-icon.png" alt="gold" class="img-fluid icon"> @Model.ExperienceGained <img src="~/images/icons/experience-icon.png" alt="experience" class="img-fluid icon"></p>
</div>
<hr class="bg-primary">
<div class="row m-auto">
    <div class="col-12">
        <h5 class="text-center text-uppercase">Fight log</h5>
        @if (Model.AttackerHitOne.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.AttackerHitOne] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitOne.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.DefenderHitOne] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitTwo.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.AttackerHitTwo] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitTwo.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.DefenderHitTwo] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitThree.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.AttackerHitThree] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitThree.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.DefenderHitThree] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitFour.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.AttackerHitFour] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitFour.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.DefenderHitFour] @Model.AttackerName
            </div>
        }
        @if (Model.AttackerHitFive.HasValue)
        {
            <div class="border rounded-pill text-left w-75 m-1 pl-3 row">
                @Model.AttackerName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.AttackerHitFive] @Model.DefenderName
            </div>
        }
        @if (Model.DefenderHitFive.HasValue)
        {
            <div class="border rounded-pill text-right w-75 m-1 pr-3 float-right">
                @Model.DefenderName <img src="~/images/icons/fight-log-attack-icon.png" alt="attack" class="m-1 fight-log-icon"> [@Model.DefenderHitFive] @Model.AttackerName
            </div>
        }
    </div>
</div>