@model FarmHeroes.Web.ViewModels.BattlefieldModels.BattlefieldGetOpponentsViewModel
@{
    ViewData["Title"] = "GetOpponents";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

    <div class="row">
        @foreach (var opponent in Model.Opponents)
        {
            <div class="col-3 m-auto text-center">
                <h5 class="overflow-hidden">@opponent.Name</h5>
                <img src="~/images/avatars/sheep.jpg" alt="avatar" class="img-fluid mt-2 mb-2">
                <span class="text-left">
                    <p class="m-auto"><img src="~/images/icons/attack-icon.png" class="icon"> @opponent.Attack</p>
                    <p class="m-auto"><img src="~/images/icons/defense-icon.png" class="icon"> @opponent.Defense</p>
                    <p class="m-auto"><img src="~/images/icons/mastery-icon.png" class="icon"> @opponent.Mastery</p>
                    <p class="m-auto"><img src="~/images/icons/mass-icon.png" class="icon"> @opponent.Mass</p>
                </span>
                <a href="/Battlefield/AttackPlayer/@opponent.Id" class="btn btn-primary mt-2">Attack</a>
            </div>
        }
    </div>