@model FarmHeroes.Web.ViewModels.BattlefieldModels.BattlefieldViewModel
@{
    ViewData["Title"] = "Battlefield";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div class="text-center">
    <img src="~/images/battlefield/battlefield.jpg" alt="battlefield" class="d-block img-fluid ml-auto mr-auto mb-3">
    <div class="row m-auto">
        <div class="col-6 border-right border-primary">
            <img src="~/images/battlefield/fight-icon.png" alt="fight" class="img-fluid ml-2 mt-2 area-icon">
            <h2 class="text-uppercase d-inline">fights</h2>
            <img src="~/images/icons/info-icon.png" alt="info" class="img-fluid ml-2 mt-2 info-icon" data-toggle="tooltip" data-placement="bottom" title="Battle consists of 5 rounds. Winner is determined by damage dealt, however if someone has 1 health left, they lose. The winner steals 10% of their enemy's gold.">
            <form method="get" asp-controller="Battlefield" asp-action="GetOpponents">
                <div class="form-group">
                    <label for="attackType">Attack type</label>
                    <select class="form-control" name="attackType">
                        <option value="Fraction">Enemy fraction</option>
                        <option value="Cast" disabled>Enemy cast - Coming soon</option>
                    </select>
                </div>
                @if (Model.IsOnPatrol)
                {
                    <button id="attack-hero-button" type="submit" class="btn btn-primary disabled" disabled>Get opponents</button>
                }
                else
                {
                    if (Model.CanAttackHero)
                    {
                        <button id="attack-hero-button" type="submit" class="btn btn-primary">Get opponents</button>
                    }
                    else
                    {
                        <vc:timer dom-element-id="attackHero_1" date-time="@Model.CannotAttackHeroUntil"></vc:timer>
                    }
                }
            </form>
        </div>
        <div class="col-6">
            <img src="~/images/battlefield/patrol-icon.png" alt="patrol" class="img-fluid ml-2 mt-2 area-icon">
            <h2 class="text-uppercase">patrol</h2>
            <p class="m-auto">Spend 10 minutes patrolling around and earn some gold.</p>
            <p>Today you've been on patrol <span id="patrols-done">@Model.PatrolsDone</span>/3 times.</p>
            <div id="work-body">
                @if (Model.CanGoOnPatrol)
                {
                    <!-- If hero cannot start a patrol, add class disabled to the button; when patrol limit is implemented -->
                    if (Model.PatrolsDone == 3)
                    {
                        <button onclick="startWork('battlefield')" class="btn btn-primary disabled" disabled>Start Patrol</button>
                    }
                    else
                    {
                        <button onclick="startWork('battlefield')" class="btn btn-primary">Start Patrol</button>
                    }
                }
                else
                {
                    if (Model.IsPatrolFinished)
                    {
                        <button onclick="collect('battlefield')" class="btn btn-success">Collect</button>
                    }
                    else
                    {
                        <vc:timer dom-element-id="patrol_1" date-time="@Model.PatrolUntil"></vc:timer>
                    }
                }
            </div>
        </div>
    </div>
    <hr class="bg-primary">
    <div class="row mt-2 ml-auto mr-auto">
        <div class="col-12">
            <img src="~/images/battlefield/monster-fight-icon.png" alt="patrol" class="img-fluid ml-2 mt-2 area-icon">
            <h2 class="text-uppercase">monsters</h2>
            <div class="row">
                <div class="col-6">
                    <p>Price: 500 <img src="~/images/icons/gold-icon.png" alt="gold" class="icon"></p>
                    <p>Attack a monster with level between 1 and 3.</p>
                    @if (Model.IsOnPatrol)
                    {
                        <a id="attack-random-monster-button" asp-controller="Battlefield" asp-action="AttackMonster" class="btn btn-primary disabled" disabled>Attack</a>
                    }
                    else
                    {
                        if (Model.CanAttackMonster)
                        {
                            <a id="attack-random-monster-button" asp-controller="Battlefield" asp-action="AttackMonster" class="btn btn-primary">Attack</a>
                        }
                        else
                        {
                            <vc:timer dom-element-id="attackMonster_1" date-time="@Model.CannotAttackMonsterUntil"></vc:timer>
                        }
                    }
                </div>
                <div class="col-6">
                    <p>Price: 1 <img src="~/images/icons/crystal-icon.png" alt="crystal" class="icon"></p>
                    <p>Attack a monster with level of your choice.</p>
                    <form class="form-inline" asp-controller="Battlefield" asp-action="AttackMonster" asp-antiforgery="false" method="get">
                        <label for="attackType" class="m-auto">Monster level</label>
                        <select class="form-control-sm m-auto" name="monsterLevel">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                        </select>
                        @if (Model.IsOnPatrol)
                        {
                            <button id="attack-monster-button" type="submit" class="btn btn-primary disabled" disabled>Attack</button>
                        }
                        else
                        {
                            if (Model.CanAttackMonster)
                            {
                                <button id="attack-monster-button" type="submit" class="btn btn-primary">Attack</button>
                            }
                            else
                            {
                                <span class="m-auto"><vc:timer dom-element-id="attackMonster_2" date-time="@Model.CannotAttackMonsterUntil"></vc:timer></span>
                            }
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>